{
    "trailingComma": "all",
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "jsxSingleQuote": false,
    "arrowParens": "always",
    "printWidth": 120,
    "bracketSpacing": true,
    "plugins": ["prettier-plugin-astro", "prettier-plugin-organize-imports"],
    "overrides": [
        {
            "files": "*.astro",
            "options": {
                "parser": "astro"
            }
        }
    ]
}
