---
import Layout from "../../layouts/layout.astro";
import { CmsArtistRepository } from "../../repositories/artist";
import { ArtistService } from "../../services/artist";

const artists = await new ArtistService(new CmsArtistRepository()).findArtists();
---

<Layout>
    <div class="container mx-auto mt-5">
        <h1 class="text-xl mb-7 text-center">アーティストからTab譜を検索</h1>
        <ul>
            {
                artists.map((artist) => (
                    <li class="mb-3">
                        <a href={`/songs/${artist.id}`} class="link">
                            {artist.name}
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
</Layout>
