---
import type { Song } from "../../entity";
import SongListItem from "./song-list-item.astro";

type Props = {
    label: string;
    songs: Song[];
};

const { label, songs } = Astro.props;
---

<ul class="list bg-base-100 rounded-box shadow-md">
    <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">{label}</li>
    {songs.map((song) => <SongListItem song={song} />)}
</ul>
