---
import Layout from "../layouts/layout.astro";
import "../styles/global.css";
---

<Layout title="お探しのページが見つかりません" hasNavbar={false}>
    <div class="flex flex-col items-center h-screen">
        <div class="flex flex-col items-center justify-center flex-grow">
            <p class="mb-4">お探しのページが見つかりません</p>
            <a href="/" class="btn btn-link">トップページに戻る </a>
        </div>
    </div>
</Layout>
