---
import { ArtistClient } from "../clients/artist";
import ArtistList from "../components/list/artist/artist-list.astro";
import Layout from "../layouts/layout.astro";

const artists = await ArtistClient.getALLArtists();
---

<Layout>
    <div class="container mx-auto mt-5">
        <ArtistList label="" artists={artists} />
    </div>
</Layout>
