---
import { SITE_TITLE } from "../constant";
---

<div class="navbar bg-base-100 shadow-sm">
    <div class="flex-1">
        <a href="/" class="btn btn-ghost text-xl">{SITE_TITLE}</a>
    </div>
    <div class="flex-none"></div>
</div>
